# Homework 4 - pandas (YOUR NAME HERE)  
### due 3/14/2022   

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your PATH is correct  

**import packages & check required datasets**

In [10]:
import os
import numpy as np
import pandas as pd

In [4]:
PATH = "C:/Users/amank/Desktop/Data_Science_For_Biology_II/Part.3.PythonProgramming/Pandas" #CHANGE

In [7]:
#checking my current working directory
!cd $PATH
!echo "$PATH

"C:/Users/amank/Desktop/Data_Science_For_Biology_II/Part.3.PythonProgramming/Pandas

In [14]:
assert os.path.exists(os.path.join(PATH,'states_covid.csv')), 'states_covid.csv does not exist'

In [15]:
assert os.path.exists(os.path.join(PATH,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)

In [23]:
state_covid_df = pd.read_csv('states_covid.csv') #read in csv
state_covid_df.head() #views the top 5 lines

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-02-23,AK,290.0,NaN,0,NaN,1260.0,1260.0,38.0,9,...,1653425.0,4640,NaN,NaN,NaN,NaN,NaN,0,1653425.0,4640
1,2021-02-23,AL,9660.0,7575.0,68,2085.0,45250.0,45250.0,762.0,122,...,2265086.0,4825,NaN,NaN,115256.0,NaN,2265086.0,4825,NaN,0
2,2021-02-23,AR,5377.0,4321.0,14,1056.0,14617.0,14617.0,545.0,47,...,2609837.0,4779,NaN,NaN,NaN,436309.0,NaN,0,2609837.0,4779
3,2021-02-23,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-02-23,AZ,15650.0,13821.0,148,1829.0,57072.0,57072.0,1515.0,78,...,7478323.0,19439,435091.0,NaN,NaN,NaN,3709365.0,6212,7478323.0,19439

In [24]:
state_covid_df.columns #view the column names and find specified names

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [25]:
state_covid_sub_df = pd.read_csv('states_covid.csv',usecols=['date','hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative','inIcuCurrently', 'onVentilatorCumulative', 'onVentilatorCurrently'],parse_dates=['date'],infer_datetime_format=True)
state_covid_sub_df.head()

,date,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
0,2021-02-23,1260.0,1260.0,38.0,9,NaN,NaN,NaN,5.0
1,2021-02-23,45250.0,45250.0,762.0,122,2632.0,NaN,1497.0,NaN
2,2021-02-23,14617.0,14617.0,545.0,47,NaN,204.0,1505.0,99.0
3,2021-02-23,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2021-02-23,57072.0,57072.0,1515.0,78,NaN,447.0,NaN,266.0

In [26]:
state_covid_sub_df.dtypes

date                      datetime64[ns]
hospitalized                     float64
hospitalizedCumulative           float64
hospitalizedCurrently            float64
hospitalizedIncrease               int64
inIcuCumulative                  float64
inIcuCurrently                   float64
onVentilatorCumulative           float64
onVentilatorCurrently            float64
dtype: object

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in order.      
*hint*: sort_values, unique

In [32]:
# Find the top 5 states with the greatest number of patients currently hospitalized
top_5_hosp = state_covid_df[['state', 'hospitalizedCurrently']].groupby(['state']).max().sort_values(by='hospitalizedCurrently', ascending=False).head()
print("Top 5 States by Current Hospitalizations:\n", top_5_hosp)

# Find the top 5 states with the greatest number of patients currently in the ICU
top_5_icu = state_covid_df[['state', 'inIcuCurrently']].groupby(['state']).max().sort_values(by='inIcuCurrently', ascending=False).head()
print("\nTop 5 States by Current ICU Patients:\n", top_5_icu)

# Find the top 5 states with the greatest number of patients currently on ventilators
top_5_vent = state_covid_df[['state', 'onVentilatorCurrently']].groupby(['state']).max().sort_values(by='onVentilatorCurrently', ascending=False).head()
print("\nTop 5 States by Current Ventilator Patients:\n", top_5_vent)

Top 5 States by Current Hospitalizations:
        hospitalizedCurrently
state
CA                   22851.0
NY                   18825.0
TX                   14218.0
FL                    9520.0
NJ                    8270.0

Top 5 States by Current ICU Patients:
        inIcuCurrently
state
NY             5225.0
CA             4971.0
TX             3686.0
NJ             2051.0
MI             1663.0

Top 5 States by Current Ventilator Patients:
        onVentilatorCurrently
state
NY                    2425.0
NJ                    1705.0
MI                    1441.0
OH                     863.0
AZ                     821.0

In [33]:
# Define the categories of interest
categories = ['hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently']

# Iterate through the categories and print the top 5 states for each category
for cat in categories:
    # Group the data by state and find the maximum value for each state in the current category
    max_values = state_covid_df[['state', cat]].groupby(['state']).max().sort_values(by=cat, ascending=False)
    
    # Print the top 5 states for the current category
    print(f"Top 5 States by {cat}:\n{max_values.head()}\n")

Top 5 States by hospitalizedCurrently:
       hospitalizedCurrently
state
CA                   22851.0
NY                   18825.0
TX                   14218.0
FL                    9520.0
NJ                    8270.0

Top 5 States by inIcuCurrently:
       inIcuCurrently
state
NY             5225.0
CA             4971.0
TX             3686.0
NJ             2051.0
MI             1663.0

Top 5 States by onVentilatorCurrently:
       onVentilatorCurrently
state
NY                    2425.0
NJ                    1705.0
MI                    1441.0
OH                     863.0
AZ                     821.0

### Task 1.3 

Find the date in which each state crossed 1000 cumulative hospitilized covid patients

In [35]:
# Filter the data for only the columns of interest
state_covid_df_hosp = state_covid_df[['date', 'state', 'hospitalizedCumulative']]

# Group the data by state and find the first date in which each state crossed 1000 hospitalized patients
date_1000 = state_covid_df_hosp[df_hosp['hospitalizedCumulative'] >= 1000].groupby('state')['date'].first()

# Print the result
print(date_1000)

state
AK    2021-02-23
AL    2021-02-23
AR    2021-02-23
AZ    2021-02-23
CO    2021-02-23
CT    2021-02-23
FL    2021-02-23
GA    2021-02-23
HI    2021-02-23
ID    2021-02-23
IN    2021-02-23
KS    2021-02-23
KY    2021-02-23
MA    2021-02-23
MD    2021-02-23
ME    2021-02-23
MN    2021-02-23
MS    2021-02-23
MT    2021-02-23
ND    2021-02-23
NE    2021-02-23
NH    2021-02-23
NJ    2021-02-23
NM    2021-02-23
NY    2021-02-23
OH    2021-02-23
OK    2021-02-23
OR    2021-02-23
PA    2020-04-06
RI    2021-02-23
SC    2021-02-23
SD    2021-02-23
TN    2021-02-23
UT    2021-02-23
VA    2021-02-23
WA    2021-02-23
WI    2021-02-23
WY    2021-02-23
Name: date, dtype: object

In [41]:
# Using a for loop

# Filter the data for only the columns of interest
state_covid_df_hosp = state_covid_df[['date', 'state', 'hospitalizedCumulative']]

# Create an empty dictionary to store the result
date_1000 = {}

# Iterate through each state abbreviation and find the first date in which it crossed 1000 hospitalized patients
for state in state_covid_df_hosp['state'].unique():
    state_data = state_covid_df_hosp[state_covid_df_hosp['state'] == state]
    if len(state_data) > 0 and (state_data['hospitalizedCumulative'] >= 1000).any():
        date = state_data[state_data['hospitalizedCumulative'] >= 1000]['date'].iloc[0]
        date_1000[state] = date
        
# Print the result
#print(date_1000)

# Print the result
for state, date in date_1000.items():
   print(f"{state}: {date}")

AK: 2021-02-23
AL: 2021-02-23
AR: 2021-02-23
AZ: 2021-02-23
CO: 2021-02-23
CT: 2021-02-23
FL: 2021-02-23
GA: 2021-02-23
HI: 2021-02-23
ID: 2021-02-23
IN: 2021-02-23
KS: 2021-02-23
KY: 2021-02-23
MA: 2021-02-23
MD: 2021-02-23
ME: 2021-02-23
MN: 2021-02-23
MS: 2021-02-23
MT: 2021-02-23
ND: 2021-02-23
NE: 2021-02-23
NH: 2021-02-23
NJ: 2021-02-23
NM: 2021-02-23
NY: 2021-02-23
OH: 2021-02-23
OK: 2021-02-23
OR: 2021-02-23
PA: 2020-04-06
RI: 2021-02-23
SC: 2021-02-23
SD: 2021-02-23
TN: 2021-02-23
UT: 2021-02-23
VA: 2021-02-23
WA: 2021-02-23
WI: 2021-02-23
WY: 2021-02-23

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [46]:
# Read in the CSV file
bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

# Split the 'taxa' column into two new columns: 'genus' and 'species'
bloom_df[['genus', 'species']] = bloom_df['taxa'].str.split('_', n=1, expand=True)

# Print out the head of the new dataframe with the taxa, genus, and species columns
print(bloom_df.head())

# Print out the number of unique genera
unique_genera = bloom_df['genus'].nunique()
print("Number of unique genera: ", unique_genera)

or
#print("Number of unique genera:", bloom_df['genus'].nunique())

                   taxa  logbodysize  trophic_position         Reg  genus  \
0        Alosa_alabamae     1.707570          0.431364  diadromous  Alosa
1           Alosa_alosa     1.778151          0.556303  diadromous  Alosa
2          Alosa_fallax     1.778151          0.556303  diadromous  Alosa
3       Alosa_mediocris     1.778151          0.612784  diadromous  Alosa
4  Alosa_pseudoharengus     1.602060          0.544068  diadromous  Alosa

          species
0        alabamae
1           alosa
2          fallax
3       mediocris
4  pseudoharengus
Number of unique genera: 34

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [50]:
# Group the data by genera and calculate the mean logbodysize and trophicposition for each group
genera_data = bloom_df.groupby(['genus']).mean()[['logbodysize', 'trophic_position']]

# Sort the genera_data dataframe by body size in descending order
genera_data = genera_data.sort_values(by='logbodysize', ascending=False)

# Print the head of the genera_data dataframe
print(genera_data.head())

            logbodysize  trophic_position
genus
Tenualosa      1.778151          0.462398
Alosa          1.739062          0.540815
Coilia         1.544068          0.477121
Ethmalosa      1.544068          0.397940
Potamalosa     1.505150          0.518514

Which genera is the smallest and largest?

In [51]:
# Find the smallest and largest genera
smallest_genus = genera_data.loc[genera_data['logbodysize'].idxmin()]
largest_genus = genera_data.loc[genera_data['logbodysize'].idxmax()]

# Print the names of the smallest and largest genera
print("Smallest genus:", smallest_genus.name)
print("Largest genus:", largest_genus.name)

Smallest genus: Amazonsprattus
Largest genus: Tenualosa

In [52]:
# Find the genus with the smallest mean logbodysize
smallest_genus = genera_data['logbodysize'].idxmin()
print("Smallest genus:", smallest_genus)

# Find the genus with the largest mean logbodysize
largest_genus = genera_data['logbodysize'].idxmax()
print("Largest genus:", largest_genus)

Smallest genus: Amazonsprattus
Largest genus: Tenualosa

What is the trophic position of the smallest and largest?

In [53]:
# Find the genus with the smallest mean logbodysize and its corresponding trophic position
smallest_genus = genera_data['logbodysize'].idxmin()
smallest_trophic_position = genera_data.loc[smallest_genus]['trophic_position']
print("Smallest genus:", smallest_genus)
print("Smallest genus trophic position:", smallest_trophic_position)

# Find the genus with the largest mean logbodysize and its corresponding trophic position
largest_genus = genera_data['logbodysize'].idxmax()
largest_trophic_position = genera_data.loc[largest_genus]['trophic_position']
print("Largest genus:", largest_genus)
print("Largest genus trophic position:", largest_trophic_position)

Smallest genus: Amazonsprattus
Smallest genus trophic position: 0.531478917
Largest genus: Tenualosa
Largest genus trophic position: 0.462397998

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [54]:
cd $PATH

C:\Users\amank\Desktop\Data_Science_For_Biology_II\Part.3.PythonProgramming\Pandas

In [109]:
!tar -xzf logfiles.tgz #unzip logfiles

tar: #unzip: Not found in archive
tar: Error exit delayed from previous errors.

In [116]:
import tarfile

with tarfile.open('logfiles.tgz', 'r:gz') as tar:
    tar.extractall()

ReadError: not a gzip file

In [103]:
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [107]:
!ls -l logfiles/*txt | wc -l  #works in bash to get 36

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [108]:
!dir logfiles\*txt /b |find /v /c ""

72

In [92]:
text_files = [f for f in os.listdir(log_dir) if f.endswith('.txt')]
print(len(text_files))

72

In [118]:
logfiles = !find $log_dir -name '*txt' #unix command to find files in log_dir directory
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[1])

IndexError: list index out of range

In [119]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

AssertionError: Do not have correct number of logfiles

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [41]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

In [26]:
minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate 
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0] #use this for maxDate 
meanTemp =

SyntaxError: invalid syntax (<ipython-input-26-d888355c2242>, line 1)

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  
for f in logfiles:  
    #do something   
    #do not read date in as date object  
    #do more something   
    #do other stuff  
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

#### Here is an example of the final product

In [32]:
logfiles_df.head()

                     minTemp  maxTemp     minDate    maxDate   meanTemp
1901302235_H6_S_14      21.3     65.8   12/6/2013  7/13/2014  35.726191
1901302121_H8_S_14      17.9     73.4  10/28/2013  7/13/2014  34.698866
1901302217_H18_D_14     21.0     82.4  10/28/2013  7/26/2014  33.334564
1901302110_H13_S_14     22.8     60.9   10/4/2013  7/13/2014  32.240032
1901302146_H14_D_14     24.6     66.1   1/21/2014  7/13/2014  34.242075